
<body>
  {{! insert all user data that we want to display here}}
  {{#if username}}
  <h2>Welcome back {{username}}!</h2>
  
  <dl> 
      <dt>First Name</dt>
      <dd>{{user.firstName}}</dd>
      <dt>Last Name</dt>
      <dd>{{user.lastName}}</dd>
      <dt>Email</dt>
      <dd>{{user.email}}</dd>
      <dt>Gender</dt>
      <dd>{{user.gender}}</dd>
      <dt>Age</dt>
      <dd>{{user.age}}</dd>
      <dt>Account Created</dt>
      <dd>{{user.userCreated}}</dd>
    </dl>

    {{#if user.userApartments}}
      <h4>List of all posted apartments:</h4>

      {{#each user.userApartments}}
        <li>
          <a href="/apartments/apartment/{{this._id}}">{{this.apartmentName}}<a> 
            {{!--      Add a way to remove the apartment here      --}}
          <form id="editApt-form" action="/apartments/editApartment/{{this._id}}" method="GET"> 
            <button type="submit"> Edit Apartment </button>
          </form>
          <form id="deleteApartment-form" action="/apartments/deleteApt/{{this._id}}" method="POST"> 
            <button type="submit"> Delete Apartment </button>
          </form>
          {{!-- <form id="deleteApt-form" action="/apartments/editApartment/{{this._id}}" method="GET"> 
            <button type="submit"> Edit Apt </button>
          </form> --}}
        </li>
      {{/each}}

    {{else}}
      <p>No Apartments posted yet</p>
      <a href="/apartments/add-new-apartment">Click here to add apartments</a>
    {{/if}}
  {{/if}}


  {{#if user.userReviews}}
      <h4>List of all posted reviews:</h4>

      {{#each user.userReviews}}
        <li>
          
          <a href="/apartments/apartment/{{this.aptId}}">{{this.aptName}}<a>
            {{!-- <form id="deleteReview-form" action="/reviews/deleteReview/{{this._id}}" method="POST"> 
            <button type="submit"> Delete Review </button>
          </form> --}}
          <form id="deleteReview-form" action="/reviews/deleteReview/{{this._id}}" method="POST"> 
            <button type="submit"> Delete Review </button>
          </form>
        </li>
      {{/each}}

    {{else}}
      <p>No reviews posted yet</p>

  {{/if}}

{{!-- firstName,
  lastName,
  email,
  gender,
  age, --}}

</body>

<!-- Add user information that we decide to pass in /users/protected>