{{!Page where user that is logged in can view a specific Apt
  todo4: figureout how to get images stored in mongodb
  google map will also be shown here?
}}

<h1>{{title}}</h1>
  {{#if apt._id}}
    <h2>{{apt.apartmentName}}</h2>

    <p>Posted by: {{apt.userPosted}}</p>
    <p>Date Posted: {{apt.datePosted}}</p>
    
           {{#if apt.file}}
            <div class="display-image">
              <img src="{{apt.file}}" class="resize" alt="">
            </div>
            {{else}}
            <div class="display-image">
              <img src="/uploads/NoImage.jpg" class="resize" alt="">
            </div>
            {{/if}}
 
    <dl> 
      <dt>Street Address</dt>
      <dd>{{apt.streetAddress}}</dd>
      <br>
      <img src="../../hoboken_map.jpeg" alt="Hoboken" class="resize"> </div>
      <dt>Rent per Month</dt>
      <dd>${{apt.rentPerMonth}}</dd>
      <dt>Rent Duration</dt>
      <dd>{{apt.rentDuration}} Months</dd>
      <dt>Max number of Residents</dt>
      <dd>{{apt.maxResidents}} people</dd>
      <dt>Number of Bedrooms</dt>
      <dd>{{apt.numBedrooms}} bedroom</dd>
      <dt>Number of Bathrooms</dt>
      <dd>{{apt.numBathrooms}} bathrooms</dd>
      <dt>Laundry?</dt>
      <dd>{{apt.laundry}}</dd>
      <dt>{{apt.apartmentName}}</dt>
      <dd>Floor {{apt.floorNum}}</dd>
      <dt>Apartment Number</dt>
      <dd>{{apt.roomNum}}</dd>
      <dt>Appliances Included</dt>
      <dd>{{apt.appliancesIncluded}}</dd>
      <dt>Pets?</dt>
      <dd>{{apt.maxPets}}</dd>
      <dt>Utilities Included</dt>
      <dd>{{apt.utilitiesIncluded}}</dd>

    </dl>

  {{else}}
    <p>Apartment with {{apt.id}} does not exist</p>
  {{/if}}

  <footer>
    <h2>Apartment Reviews</h2>
    <br>

    {{#if apt.reviews}}
      
      <form id="addReview-form" action="/reviews/add-review/{{apt._id}}" method="GET">
        <label for="usernameInput">Add Review</label>
        <button type="submit" class="plus">+</button>
      </form>
      
      {{#each apt.reviews}}
        <li>
          <h3>{{userName}} </h3> 
          <p>Created review on: {{reviewDate}} </p>
          <h4>Rating: {{rating}}</h4>
          <p>Review: {{comments}}</p>
          
          <form id="likeReviewForm">
            <button id="{{this._id}}" type="submit">👍 {{numLikes.length}}</button> 
          </form>
          <br>
          <form id="newApartment-form" action="/reviews/addComment/{{this._id}}" method="POST">
            <label for="replyInput" id="replyID">Comments:</label>
            <input for="replyInput" name="replyInput" type="text" placeholder="Insert reply here" id="replyInput" required/>
            <button type="submit">Post Reply</button>
          </form>
          {{!-- {{#if apt.reviews.replies}} --}}
          <br>
          <p>Replies Posted:</p>
            {{#each replies}}
            <p> {{reply}}</p>
            
            {{/each}}
          {{!-- {{else}}
           
            {{/if}} --}}
        </li>
      {{/each}}

    {{else}}
      <p>Sorry, No reviews found</p>
      <form id="addReview-form" action="/reviews/add-review/{{apt._id}}" method="GET">
        <label for="usernameInput">Add the first Review</label>
        <button type="submit" class="plus">+</button>
      </form>
    {{/if}}

  </footer>
  <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
  <script src="../../public/js/main.js"></script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
