{{!Page where user that is logged in can view all apts
todo1: add a + symbol in the top right to add apartments}}

<body>
  {{!add a way to sort apartments}}
  {{!list of all avaiable apartments}}
   <div class="apt_title"></div>
  <form id="sortBy-form" class="sort-class" action="/apartments" method="GET">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <label for="sortByInput">Sort By:</label>
    <select name = "sortByInput" id = "sortByInput"> 
      <option value="Alphabetical">Alphabetical</option>
      <option value="Cost">Cost</option>
      <option value="Number of Bedrooms">Number of Bedrooms</option>
      <option value="Number of Bathrooms">Number of Bathrooms</option>
      <option value="Number of Residents">Number of Residents</option>
      <option value="Pets Allowed">Pets Allowed</option>
      <option value="Rating">Rating</option>
    </select>

    <button type="submit" class="plus">+</button>
  </form>
      </div>
      {{#if sortedBy}} 
      <p>Sorted by: {{sortedBy}}</p>
      <br>
      {{/if}}
 <div class = "apt_d">

  <ul>
    
    {{#each apt}}
    <li>
      {{!-- <div id="display-image"></div> --}}
      <div class="display-image">
   <img id="image-input">
 </div>

      <a href="/apartments/apartment/{{this._id}}">{{this.apartmentName}} [${{this.rentPerMonth}}/Month , {{this.numBedrooms}} Bedroom, {{this.overallRating}} Rating]<a>
    </li>
    {{/each}}
  </ul>

  
  <footer>
    <form id="addNewApt-form" action="/apartments/add-new-apartment" method="GET">
    <label for="usernameInput">Add Apartment</label>
    <button type="submit" class="plus">+</button>
  </form>
  </footer>
    </div>
  {{!-- <script src="../../public/js/main.js"></script>  --}}
  
</body>