{{!Page where user that is logged in can add an Apt
todo2: get all the inputs: 
apartmentName, 
  streetAddress,
  rentPerMonth,
  rentDuration,
  maxResidents,
  numBedrooms,
  numBathrooms,
  laundry,
  floorNum,
  roomNum,
  appliancesIncluded,
  maxPets,
  utilitiesIncluded !!!Also pictures.... idk how to do this 
  Follow format of views/userAccount/signup 
  Todo3: then do the routes
  }}
<main>
  {{#if error}}
  <h2> {{title}} </h2>
  <p class="error">{{error}}</p>
  {{/if}}
  <form id="editApartment-form" action="/apartments/editApartment/{{apt._id}}" method="POST">

  <p>If you want to leave any parameters empty, please enter N/A</p>

    {{!-- <p>Prev Value was: {{apt.apartmentName}}</p> --}}
    <label for="apartmentNameInput">Apartment Name:</label>
    <input for="apartmentNameInput" name="apartmentNameInput" type="text" value={{apt.apartmentName}} required/>
    {{!-- value does not work, migght have to set Previous value: {{apt...}} and leave the form blank. --}}
    <br>

    <label for="buildingNumberInput">Building number:</label>
    <input for="buildingNumberInput" name="buildingNumberInput" type="text" value= {{apt.streetAddress}} required/>
    
    <label for="streetAddressInput">Street Name:</label>
    <input for="streetAddressInput" name="streetAddressInput" type="text" required/>
    
    <br>

    <label for="rentPerMonthInput">rentPerMonth:</label>
    <input for="rentPerMonthInput" name="rentPerMonthInput" type="text" value= {{apt.rentPerMonth}} required/>
    <br>

    <label for="rentDurationInput">rentDuration:</label>
    <input for="rentDurationInput" name="rentDurationInput" type="text" value= {{apt.rentDuration}} required/>
    <br>

    <label for="maxResidentsInput">maxResidents:</label>
    <input for="maxResidentsInput" name="maxResidentsInput" type="text" value= {{apt.maxResidents}} required/>
    <br>

    <p>Previous Value: {{apt.numBedrooms}}</p>
    <label for="numBedroomsInput">numBedrooms:</label>
    <select name = "numBedroomsInput" id = "numBedroomsInput" placeholder="Number of Bedrooms"> 
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br>
    {{!-- <input id="numBedroomsInput" name="numBedroomsInput" type="text" placeholder="Integer number" required /> --}}

    <p>Previous Value: {{apt.numBathrooms}}</p>
    <label for="numBathroomsInput">numBathrooms:</label>
      <select name = "numBathroomsInput" id = "numBathroomsInput"  placeholder="Number of Bathrooms"> 
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    {{!-- <input for="numBathroomsInput" name="numBathroomsInput" type="text" required/> --}}

    <p>Previous Value: {{apt.laundry}}</p>
    <p>Laundry:</p>
    <input name="laundryInput" type="radio" id="yes" value="true" />
    <label for="yes">Yes</label> <br>
    <input name="laundryInput" type="radio" id="no" value="false" />
    <label for="no">No</label> <br>

    <label for="floorNumInput">floorNum:</label>
    <input for="floorNumInput" name="floorNumInput" type="text" value= {{apt.floorNum}} required/>
    <br>

    <label for="roomNumInput">unit:</label>
    <input for="roomNumInput" name="roomNumInput" type="text" value= {{apt.roomNum}} required/>
    <br>

    <label for="appliancesIncludedInput">appliancesIncluded(separate each with comma, or write N/A):</label>
    <input for="appliancesIncludedInput" name="appliancesIncludedInput" type="text" value= {{apt.appliancesIncluded}} required/>
    <br>

    <p>Previous Value: {{apt.maxPets}}</p>
    <p>Pets:</p>
    <input name="maxPetsInput" type="radio" id="yes" value="true" />
    <label for="yes">Yes</label> <br>
    <input name="maxPetsInput" type="radio" id="no" value="false" />
    <label for="no">No</label> <br>

    <label for="utilitiesIncludedInput">utilitiesIncluded(separate each with comma, or write N/A):</label>
    <input id="utilitiesIncludedInput" name="utilitiesIncludedInput" type="text" value= {{apt.utilitiesIncluded}} required />
    <br>
    {{!-- <label for="file"Upload Image:></label> --}}
    <input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg">

    <button type="submit">Register</button>
  </form>
</main>
